@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    font-family: "Syne", sans-serif;
}


.customHeader{
    background-color: #eae1d0 !important;
    color: #413555 !important;
}

.btn-primary, .btn-outline-light:hover, .kartBtn:hover{
    background-color: #413555 !important;
    color: #f5ecda !important;
    border-color: transparent;
}

.btn-primary:hover, .btn-outline-light{
    border-color: transparent;
    color: #413555 !important;
    background-color: #eae1d0 !important;
}

.border-bottom{
    border-bottom: 1px solid !important;
}

.card{
    transition: .3s;
    color:#413555 !important;
}

.card:hover{
    transform: scale(1.1);
}

.bg-primary{
    background-color: #413555 !important;
}

.lrnM{
    border-color: #413555 !important;
}

.text-dark{
    color:#413555 !important;
}

.bg-secondary{
    background-color: #eae1d0 !important;
}

.img-custom{
    width: 30% !important;
}

.kartBtn{
    margin-top: -15px !important;
    background-color: #eae1d0 !important;
}

.customC{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none !important;
    border-radius: 10px;
}

.customC:hover{
    transform:none;
}

.customImg{
    width: 80%;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom left, #413555, #262130, #19180D);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom left, #413555, #262130, #19180D);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }