@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    font-family: "Syne", sans-serif;
}


.customHeader{
    background-color: #eae1d0 !important;
    color: #413555 !important;
}

.btn-primary, .btn-outline-light:hover, .kartBtn:hover{
    background-color: #413555 !important;
    color: #f5ecda !important;
    border-color: transparent;
}

.btn-primary:hover, .btn-outline-light{
    border-color: transparent;
    color: #413555 !important;
    background-color: #eae1d0 !important;
}

.border-bottom{
    border-bottom: 1px solid !important;
}

.card{
    transition: .3s;
    color:#413555 !important;
}

.card:hover{
    transform: scale(1.1);
}

.bg-primary{
    background-color: #413555 !important;
}

.lrnM{
    border-color: #413555 !important;
}

.text-dark{
    color:#413555 !important;
}

.bg-secondary{
    background-color: #eae1d0 !important;
}

.img-custom{
    width: 30% !important;
}

.kartBtn{
    margin-top: -15px !important;
    background-color: #eae1d0 !important;
}

.customC{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none !important;
    border-radius: 10px;
}

.customC:hover{
    transform:none;
}