@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

* {
    font-family: "Syne", sans-serif;
}

footer {
    margin-top: 10rem !important;
}
.customHeader {
    background-color: #eae1d0 !important;
    color: #413555 !important;
}

.customHover {
    transition: 0.2s;
    cursor: pointer;
}
.customHover:hover {
    transform: scale(1.1);
}

.btn-primary,
.btn-outline-light:hover,
.kartBtn:hover {
    background-color: #413555 !important;
    color: #f5ecda !important;
    border-color: transparent;
    transition: 0.2s;
}

.btn-primary:hover,
.btn-outline-light {
    border-color: transparent;
    color: #413555 !important;
    background-color: #eae1d0 !important;
}

.border-bottom {
    border-bottom: 1px solid !important;
}

.card {
    transition: 0.3s;
    color: #413555 !important;
}

.bg-primary {
    background-color: #413555 !important;
}

.lrnM {
    border-color: #413555 !important;
}

.text-dark {
    color: #413555 !important;
}

.text-light {
    color: #f5ecda !important;
}

.bg-secondary {
    background-color: #eae1d0 !important;
}

.img-custom {
    width: 30% !important;
}

.kartBtn {
    margin-top: -15px !important;
    background-color: #eae1d0 !important;
}

.customC {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none !important;
    border-radius: 10px;
}

.customC:hover {
    transform: none;
}

.customImg {
    width: 80%;
}

.modal-confirm {
    color: #636363;
    width: 325px;
    font-size: 14px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-confirm .form-control,
.modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}
.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
}

.main-container {
    background-image: url("../img/form1.png");
    background-position: center; /* Centers the image in the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover;
    height: 700px;
    position: relative;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto;
}

#contactForm {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f5ecda;
    margin-top: 400px;
}

.form-group,
input {
    font-size: 13px;
    margin-bottom: 3px;
}

.row-custom {
    width: 80%;
    text-align: center;
    display: flex;
}

.list-custom img,
.userListImg {
    height: 200px;
    width: auto;
}

.container-custom {
    min-width: 500px;
    margin: 100px 0;
    max-width: 850px;
    padding-left: 70px;
}

.productCreate {
    border-radius: 30px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #822547;
}

fieldset {
    width: 70%;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
}

.addProductBtn button {
    background-color: #822547 !important;
    width: 150px;
    height: 50px;
    font-size: 18px;
}

fieldset label {
    font-size: 16px;
    margin-bottom: 5px;
}

#productCreateImg {
    width: 60%;
    border-radius: 30px 30px 0 0;
    padding: 0;
    top: -245px;
    left: 135px;
}
input:focus,
select:focus,
textarea:focus {
    box-shadow: none !important;
}

.custom-form-input:focus::placeholder {
    color: transparent !important;
}

.btn:focus {
    box-shadow: none !important;
}

.btn:focus {
    background-color: transparent !important;
    color: #822547 !important;
}

.bg-customm {
    background-image: url("../img/form5.png");
    height: 800px;
    width: 500px;
    padding-top: 80px;
}

.customCont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(
        to bottom left,
        #b67b5b,
        #dabc96,
        #874844b2
    );
    margin-top: 230px !important;
    width: 100%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

table {
    border-radius: 30px !important;
}

.customTable th {
    background-color: #552a4170;
    color: #eae1d0;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-style: none !important;
}

tbody,
td,
tfoot,
h1,
thead,
tr {
    color: #413555 !important;
}

.customTable td {
    background-color: transparent !important;
    color: #2e263b;
    font-size: 18px;
}

#productListImg {
    height: 300px;
    top: -180px;
}

.customForm {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 900px;
    margin: 100px 0;
}

.project-info {
    padding-top: 100px;
}

.project-info-box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
}

#detailsImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.customCard {
    border: transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(
        to bottom left,
        #413555,
        #262130,
        #19180d
    );

    background: linear-gradient(to bottom left, #413555, #262130, #19180d);
}

.quantityBox {
    text-align: center;
    border-radius: 30px;
    border: 1px solid #cfcfcf79;
    display: flex;
    align-items: center;
}
.quantityBox input {
    width: 19px !important;
    border: transparent;
    font-size: 18px;
}

.quantityBox input:focus {
    outline: none;
    border: none;
}

.quantityBox .fs-2 {
    border-radius: 30px 0 0 30px;
}

.quantityBox .fs-3 {
    border-radius: 0 30px 30px 0;
    padding: 0.1rem;
}
.quantityBox span {
    background-color: #cfcfcf79;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.customBorder {
    border-radius: 0px;
    border-color: transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.customPos {
    position: relative;
}

.customPos span {
    position: absolute;
    top: 18px;
    right: -5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 15px;
}


.whistle {
    width: 20%;
    fill: #f95959;
    margin: 100px 40%;
    text-align: left;
    transform: translate(-50%, -50%);
    transform: rotate(0);
    transform-origin: 80% 30%;
    animation: wiggle 0.2s infinite;
}

@keyframes wiggle {
    0% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
.access-h1 {
    margin-top: -100px;
    margin-bottom: 20px;
    color: #facf5a;
    text-align: center;
    font-family: "Raleway";
    font-size: 90px;
    font-weight: 800;
}
.access-h2 {
    color: #455d7a;
    text-align: center;
    font-family: "Raleway";
    font-size: 30px;
    text-transform: uppercase;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}
@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }
}
