@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    font-family: "Syne", sans-serif;
}


.customHeader{
    background-color: #eae1d0 !important;
    color: #413555 !important;
}

.btn-primary, .btn-outline-light:hover, .kartBtn:hover{
    background-color: #413555 !important;
    color: #f5ecda !important;
    border-color: transparent;
}

.btn-primary:hover, .btn-outline-light{
    border-color: transparent;
    color: #413555 !important;
    background-color: #eae1d0 !important;
}

.border-bottom{
    border-bottom: 1px solid !important;
}

.card{
    transition: .3s;
    color:#413555 !important;
}

.card:hover{
    transform: scale(1.1);
}

.bg-primary{
    background-color: #413555 !important;
}

.lrnM{
    border-color: #413555 !important;
}

.text-dark{
    color:#413555 !important;
}

.bg-secondary{
    background-color: #eae1d0 !important;
}

.img-custom{
    width: 30% !important;
}

.kartBtn{
    margin-top: -15px !important;
    background-color: #eae1d0 !important;
}

.customC{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none !important;
    border-radius: 10px;
}

.customC:hover{
    transform:none;
}

.customImg{
    width: 80%;
}

.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #82ce34;
	padding: 15px;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #82ce34;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background: #6fb32b;
	outline: none;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom left, #413555, #262130, #19180D);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom left, #413555, #262130, #19180D);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }